<?xml version="1.0"?>
<config>
    <modules>
        <KL_Stock>
            <version>0.0.1</version>
        </KL_Stock>
    </modules>
    <global>
        <helpers>
            <rulemailer>
                <class>KL_Stock_Helper</class>
            </rulemailer>
        </helpers>
        <models>
            <kl_stock>
                <class>KL_Stock_Model</class>
            </kl_stock>
        </models>
    </global>
    <crontab>
        <jobs>
            <kl_stock>
                <schedule>
                    <cron_expr>*/15 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>kl_stock/stockStatusHandler::whenItsTimeToFixStockStatuses</model>
                </run>
            </kl_stock>
        </jobs>
    </crontab>
</config>